@model Cover
<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Cover</h2>
            <hr/>
        </div>
        <div class="form-group">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="mb-3">
                <label asp-for="Name"></label> <br />
                <input asp-for="Name" class="form-control w-100" />
                <span asp-validation-for="Name" class="text-danger d-block"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
            <a asp-controller="Cover" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </div>
</form>

@section Scripts{
      <partial name="_ValidationScriptsPartial" />
}
